body {
	background-color: #181818;
	margin: 0;
	padding: 0;
}

#menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 192px;
	background-color: #202020;
	position: fixed;
	height: 100%;
	overflow: auto;
}

.menu_img {
	width: 192px;
	height: 192px;
}

#menu li a {
	display: block;
	color: #000000;
	text-decoration: none;
}

#menu li a:hover {
	background-color: #383838;
	color: white;
}

.menu_active {
	background-color: #2050B0;
}

#list {
	font-size: 4em;
	margin-left: 192px;
	padding: 0;
}

#title {
	margin: 0;
	padding: 8px 16px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #202020;
}

#item_list {
	list-style-type: none;
	background-color: #181818;
	position: fixed;
	width: 90%;
	height: 94%;
	margin: 0;
	padding: 0;
	overflow: auto;
}

li.item a {
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	padding: 2px 16px;
}

li.item a:hover:not(.active) {
	background-color: #282828;
	color: white;
}

.selected {
	background-color: #2050B0;
	color: white;
}


#name {
	text-shadow: 1px 1px 6px #000000;
	font-size: 4em;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 16px;
	left: 16px;
	width: 100%;
	color: #FFFFFF;
	text-decoration: none;
}

#content video {
	background-color: #181818;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
}

#backVideo {
	background-color: rgba(16, 16, 16, 0.75);
	/*border: 1px solid #000000;*/
	font-size: 4em;
	margin: 0;
	padding: 5px 5px;
	position: fixed;
	bottom: 14%;
	left: 7%;
	width: 10%;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}

#audio {
	width: 94%;
	height: 1em;
	margin: 0;
	padding: 0;
}

#RandomAudio {
	position: absolute;
	top: 0.3em;
	right: 16px;
	/*border: 1px solid #FFFFFF;*/
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	text-decoration: none;
}

#RandomAudio, #RandomAudioImg, #RandomAudioImg img {
	width: 1em;
	height: 1em;
}

#image_bg {
	background-color: #181818;
	/*border: 1px solid red;*/
	position: relative;
	margin: 0;
	padding: 0;
	right: 0;
	top: 0;
}

#image {
	/*border: 1px solid red;*/
	position: absolute;
	margin: 0;
	padding: 0;
}

#backImage {
	background-color: rgba(16, 16, 16, 0.75);
	/*border: 1px solid #000000;*/
	font-size: 4em;
	margin: 0;
	padding: 5px 5px;
	position: fixed;
	bottom: 14%;
	right: 7%;
	width: 10%;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}