body {
	background-color: #181818;
	margin: 0;
	padding: 0;
}

#content video {
	background-color: #181818;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
}

#image_bg {
	background-color: #181818;
	/*border: 1px solid blue;*/
	position: absolute;
	margin: 0;
	padding: 0;
}

#image {
	/*border: 1px solid red;*/
	position: absolute;
	margin: 0;
	padding: 0;
}

#audio {
	width: 99%;
	height: 35px;
	margin: 0;
	padding: 0;
}

#menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 192px;
	background-color: #202020;
	position: fixed;
	height: 100%;
	overflow: auto;
}

#menu li a {
	display: block;
	color: #000000;
	text-decoration: none;
}

#menu li a:hover {
	background-color: #383838;
	color: white;
}

.menu_active {
	background-color: #2060C0;
}

h3.list {
	margin: 0;
	padding: 8px 16px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #202020;
}

ul.list {
	list-style-type: none;
	background-color: #181818;
	position: fixed;
	width: 90%;
	height: 94%;
	margin: 0;
	padding: 0;
	overflow: auto;
}

li.list a {
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	padding: 2px 16px;
}

li.list a:hover:not(.active) {
	background-color: #383838;
	color: white;
}

#content {
	font-size: 2.5em;
	margin-left: 192px;
	padding: 0;
}

#backVideo {
	background-color: rgba(16, 16, 16, 0.75);
	/*border: 1px solid #000000;*/
	font-size: 1em;
	margin: 0;
	padding: 5px 0px;
	position: fixed;
	bottom: 15%;
	left: 7%;
	width: 160px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}

#backImage {
	background-color: rgba(16, 16, 16, 0.75);
	/*border: 1px solid #000000;*/
	font-size: 1em;
	margin: 0;
	padding: 5px 0px;
	position: fixed;
	bottom: 15%;
	right: 7%;
	width: 160px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}

#title {
	text-shadow: 1px 1px 6px #000000;
	font-size: 1em;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 16px;
	left: 16px;
	width: 100%;
	color: #FFFFFF;
	text-decoration: none;
}